<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wishlist</title>
    <link rel="stylesheet" href="../../public/css/wishlist.css">
</head>
<body>
    <h2 class="head">MY WISHLIST</h2>

    <div class="default" id="emptyMessage">
        <img src="../../public/images/lovee.png" class="wishlist-icon" alt="Wishlist Icon">
        <p>Your Wishlist Is Empty!</p>
    </div>

    <div id="wishlistContainer" style="display: none;">
        <div class="wishlist-items"></div>
    </div>

    <script src="../../public/js/wishlist.js"></script>
</body>
</html>
