<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"href="signup.css"/>
    <title>SignUp</title>
</head>
<body>
    <div id="signUp">
        <div id="privacyAndAgreement">
            <div>
                <input type="checkbox" required />
            </div>
            <div>
                l agree to the
                <a href="#" target="_blank">Privacy & Cookie Policy</a> and
                <a href="#" target="_blank">Terms & Conditions</a>.
            </div>
        </div>
        <input class="buttont"type="submit"value="REGISTER"/>
    </form>
</div>
</body>
<script src="signup.js"></script>
</html>
